.header {
  display: flex;
  align-items: center;
  padding: 40px 0;
  flex-shrink: 0;
  &__nav {
    margin-left: 250px;
    &-items {
      display: flex;
      gap: 120px;
    }

    &-link {
      color: #fff;
      font-style: 16px;
      line-height: 130%;
      border-bottom: 2px solid transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
