@font-face {
  font-family: 'Steppe Book', sans-serif;
  src: url('../assets/fonts/Steppe-Book.ttf') format(ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Steppe Book', sans-serif;
  src: url('../assets/fonts/Steppe-ExtraBold.ttf') format(ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
